package templates

templ Hello(name string) {
	@Base() {
		<button hx-get="/dog" hx-target="#hello" class="text-yellow-500 font-bold"><span class="text-9xl">What is your dog</span></button>
		<div id="hello" class="from-blue-700 bg-linear-to-r to-red-400 flex justify-center h-96">This is your dog hihi ha ah!</div>
	}
}

templ Image(src string){
	<img src={src} alt="Dog" class="rounded-lg border-4 border-black h-full"/>
}